.stepper-welcome {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto 3rem;
  padding: 2rem;
  background-color: var(--color-bgpink);
  border-radius: 10px;
}

.stepper-welcome__logo {
  display: flex;
  justify-content: center;
}

.stepper-welcome__info-item--bullet {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--color-black-light);
  font-size: 1rem;
  line-height: 1.5;
}

.stepper-welcome__info-item--bullet::before {
  content: "•";
  color: var(--color-pink);
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.75rem;
}

.stepper-welcome__checkbox {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.stepper-welcome__checkbox-text {
  color: var(--color-black-light);
  font-size: 0.9rem;
  line-height: 1.4;
}

.stepper-welcome__actions {
  display: flex;
  justify-content: center;
}

.terms-modal__content {
  background: var(--color-white);
  border-radius: 10px;
  padding: 2rem;
  width: 90vw;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.terms-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms-modal__header h2 {
  font-size: 1.5rem;
}

.terms-modal__close {
  background-color: transparent !important;
  margin: 0 !important;
}

.terms-modal__close:hover {
  background-color: var(--color-lightgrey) !important;
  transition: all 0.3s ease-in-out;
}

.terms-modal__section {
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.terms-modal__footer {
  display: flex;
  justify-content: center;
}

@media screen and (width <= 768px) {
  .stepper-welcome {
    margin: 1rem auto 3rem;
    padding: 1.5rem;
  }

  .stepper-welcome img {
    width: 100px;
  }

  .terms-modal__content {
    width: 95vw;
    margin: 1rem;
  }
}

@media (width <= 480px) {
  .stepper-welcome {
    margin: 0.5rem auto 3rem;
    padding: 1rem;
  }

  .stepper-welcome img {
    width: 80px;
  }

  .stepper-welcome__checkbox-text {
    font-size: 0.9rem;
  }
}
