.welcome-screen {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto 3rem;
  padding: 2rem;
  background-color: var(--color-bgpink);
  border-radius: 10px;
}

.info-item--bullet {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--color-black-light);
  font-size: 1rem;
  line-height: 1.5;
}

.info-item--bullet::before {
  content: "•";
  color: var(--color-pink);
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.75rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.checkbox-text {
  color: var(--color-black-light);
  font-size: 0.9rem;
  line-height: 1.4;
}

.button__start-container {
  display: flex;
  justify-content: center;
}

.modal-content {
  background: var(--color-white);
  border-radius: 10px;
  padding: 2rem;
  width: 90vw;
  max-width: 600px;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  font-size: 1.5rem;
}

.modal-section {
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

@media screen and (width <= 768px) {
  .welcome-screen {
    margin: 1rem auto 3rem;
    padding: 1.5rem;
  }

  .welcome-screen img {
    width: 100px;
  }

  .modal-content {
    width: 95vw;
    margin: 1rem;
  }

  .modal-header,
  .modal-footer {
    padding: 1rem 1.5rem;
  }

  .modal-body {
    padding: 1.5rem;
  }
}

@media (width <= 480px) {
  .welcome-screen {
    margin: 0.5rem auto 3rem;
    padding: 1rem;
  }

  .welcome-screen img {
    width: 80px;
  }

  .checkbox-text {
    font-size: 0.9rem;
  }
}
