<div class="application-card-skeleton">
  <div class="application-card-skeleton__header">
    <div class="application-card-skeleton__avatar"></div>
    <div class="application-card-skeleton__name-section">
      <div class="application-card-skeleton__name"></div>
      <div class="application-card-skeleton__location"></div>
    </div>
    <div class="application-card-skeleton__status"></div>
  </div>

  <div class="application-card-skeleton__body">
    <div class="application-card-skeleton__info-row">
      <div class="application-card-skeleton__label"></div>
      <div class="application-card-skeleton__value"></div>
    </div>
    <div class="application-card-skeleton__info-row">
      <div class="application-card-skeleton__label"></div>
      <div class="application-card-skeleton__value"></div>
    </div>
    <div class="application-card-skeleton__info-row">
      <div class="application-card-skeleton__label"></div>
      <div class="application-card-skeleton__value"></div>
    </div>
  </div>
</div>