<section class='stepper'>
  <form class="stepper__form" onsubmit={{this.nextStep}}>
    {{#if (eq this.currentStep 0)}}
      <NewJoinSteps::WelcomeScreen @onTermsChange={{this.setTermsAccepted}} />

      <div class="button__start-container">
        <Reusables::Button
          @text='Start'
          @variant='dark'
          @onClick={{this.startHandler}}
          @test='start'
          @type='button'
          @disabled={{not this.termsAccepted}}
        />
      </div>
    {{/if}}
  </form>
</section>