<section class='stepper' data-test="stepper">
  <form class="stepper__form" onsubmit={{this.nextStep}}>
    {{#if (eq this.currentStep 0)}}
      <NewJoinSteps::WelcomeScreen />

      <div class="stepper-welcome__actions">
        <Reusables::Button
          @text='Start'
          @variant='dark'
          @onClick={{this.startHandler}}
          @test='start'
          @type='button'
          @disabled={{not this.joinApplicationTerms.hasUserAcceptedTerms}}
        />
      </div>
    {{/if}}
  </form>
</section>