{{page-title "Applications - Admin"}}

<div class="applications-list">
  <h2>Applications List</h2>
  <p>This is the applications list page. Here you will see all applications.</p>
  <p>Dummy content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  {{outlet}}
</div>