<a
  href={{this.redirectUrl}}
  target="_blank"
  rel="noopener noreferrer"
  class="social-link-pill"
  data-test-social-link
  data-test-platform={{@platform}}
>
  <IconifyIcon @icon={{this.icon}} />
  <span>{{@platform}}</span>
</a>