<div class="thank-you-screen" data-test="thank-you-screen">
  <div class="thank-you-screen__logo" data-test="thank-you-logo">
    <FaIcon @icon="check" @size="2x" />
  </div>

  <div class="form-header__text">
    <h1 class="section-heading">{{@firstName}}, thank you for applying to RDS.</h1>
    <p class="section-instruction">Great work filling up the application. However, it takes more to join us early.</p>
  </div>

  <div class="thank-you-screen__info-container">
    <div class="thank-you-screen__info-item--bullet">
      Head over to Application Tracking Page.
    </div>

    <div class="thank-you-screen__info-item--bullet">
      Checkout AI review and and edit your application to improve application rank.
    </div>

    <div class="thank-you-screen__info-item--bullet">
      Complete quests to improve your ranking and increase your chances of early reviews.
    </div>
  </div>

  <div class="application-id">
    <h3>Application ID</h3>
    <p>{{@applicationId}}</p>
  </div>

  <div class="thank-you-screen__actions">
    <Reusables::Button @text="Track application" @variant="dark" @test="track-application" @type="button" />
  </div>
</div>